.wrapper {
  position: relative;
}

.card {
  margin-top: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  min-width: 320px;
}

.group {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  align-items: baseline;
  padding: 0.2em 0.3em 0.2em 0;
  width: 100%;
}

.group > label {
  margin-left: 3em;
  text-align: left;
}

.group > label:after {
  content: ":";
}

.submit {
  display: inline-block;
  padding: 0.7em 1.7em;
  margin: 0.5em 0.3em 0.3em 0;
  /* border-radius: 0.2em; */
  text-decoration: none;
  font-weight: 400;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align: center;
  position: relative;
}

@media all and (max-width:30em) {
  .submit-button {
    display: block;
    margin: 0.4em auto;
  }
}