.gallery__list {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: repeat(6, 300px);
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.card {
  width: 90%;
  height: 90%;
}

.card img {
  height: 70%;
  width: auto;
}